.assignment-modal .ant-modal-content {
    background: #191d1a !important;
    color: #fff !important;
    font-weight: 300;
    border: 1px solid #a2aab3 !important;
    font-family: 'Noto Sans', sans-serif;
    max-height: 70vh;      
    overflow-y: auto;  
    scrollbar-color: #a2aab3 #191d1a !important;
    scrollbar-width: thin !important;      
}

.assignment-modal .ant-modal-header {
    background: #191d1a !important;
    border-bottom: 1px solid #a2aab3 !important;
}

.assignment-modal .ant-modal-title {
    color: #fff !important;
}

.assignment-modal .ant-modal-close {
    color: #fff !important;
}

.inner-assignment-title{
    color: #51CB63 !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px !important;
    font-weight: 400;
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

.assignment-decription {
    margin-bottom: 20px; 
    font-size: 20px;     
}
.assignment-period {
    font-size: 20px;     
}

.this-row {
    display: flex;
    flex-direction: row;
    align-items: center;           
    justify-content: space-between;
}

.submit-button {
    background: #191d1a !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    font-family: 'Noto Sans', sans-serif;
    align-self: flex-end;
    margin-top: 20px;
}

.submit-button:hover {
    background: #51CB63 !important;
    color: #ffffff !important;
    border-color: #51CB63 !important;
}
