.allAssignments {
    display: flex;
    flex-direction: column;
}

.all-assignments {
    font-family: 'Noto Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr); gap: 40px; 
    justify-items: center;
    overflow-y: auto;  
    scrollbar-color: #a2aab3 #191d1a !important;
    scrollbar-width: thin !important; 
}

.allAssignment-card {
    display: flex;
    flex-direction: column;
    font-weight: 300;

    border: 1px solid #a2aab3;  
    border-radius: 8px;
    padding: 10px;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    cursor: pointer;
}

.allAssignment-card:hover {
    border: 1px solid #51CB63; 
}

.allAssignment-header {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-bottom: 16px;
}

.allAssignment-icon {
    font-size: 30px; 
    color: #51CB63;
}

.allAssignment-title {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.allAssignment-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;           
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.allAssignment-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.allAssignment-button {
    background: #191d1a !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    font-family: 'Noto Sans', sans-serif;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

.allAssignment-button:hover {
    background: #51CB63 !important;
    color: #ffffff !important;
    border-color: #51CB63 !important;
}