.classrooms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.classrooms-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.classrooms-header-left {
  flex: 1;
}

.classrooms-header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.classrooms-title {
  text-align: center;
  font-size: 45px !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 600 !important;
  color: #51CB63 !important;
  margin: 0;
}

.classrooms-header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.role-select {
  margin-right: 0 !important;
}


.add-classroom {
    background: #51CB63 !important;
    color: #ffffff !important;
    border-color: #51CB63 !important;
    font-family: 'Noto Sans', sans-serif;
    margin-left: o;
    margin-right: 20px;
    margin-top: 0 !important;  
}

.courses {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    justify-items: center;
    overflow-y: auto;  
    scrollbar-color: #a2aab3 #191d1a !important;
    scrollbar-width: thin !important;      
}

.plain-title {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    text-align: left;
}

.card {
    background-color: #191d1a;
    display: flex;
    flex-direction: column;
    border: 2px solid #a2aab3;
    width: 500px;
    height: 320px;
    border-radius: 16px;
    margin: 10px;
}

.plain-description {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    justify-items: center;
    text-align: left;
    margin-left: 40px;
}

.plain-description ul li {
    margin-bottom: 14px;
}

.plain-description ul li:nth-child(2) {
    margin-bottom: 4px;
}

.view { 
    background: #191d1a !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 8px !important;
    font-size: 18px !important;    
    padding: 14px 40px !important; 
    height: 48px !important;  
    font-family: 'Noto Sans', sans-serif;

    min-width: 100px;
    max-width: 120px;
    width: auto;
    align-self: flex-end;
    margin-left: 110px;
}

.view:hover {
    background: #51CB63 !important;
    color: #ffffff !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 8px !important;
}

.Created-Button {
    display: flex;
    align-items: center;
    gap: 5px; 
}