.whole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.whole-class {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    gap: 160px;
}

classroom {
    flex-direction: column;
}

.classroom-description {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
    gap: 10px
}

.class-info {
    color: #51CB63;
    font-weight: 400;
    width: 200px;
}

.class-label {
    color: #51CB63;
    font-weight: 400;
}

.students-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 40px;
    width: 250px;
    height: 400px;           
    overflow-y: auto;  
    scrollbar-color: #a2aab3 #191d1a !important;
    scrollbar-width: thin !important;     
    border: 1px solid #a2aab3;  
    border-radius: 8px;
    padding: 10px;
    padding-left: 16px;                   
}

.student {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.classroom-assignments {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.active-assignments {
   margin-bottom: 50px;
}

.assignment-label {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 30px;
}

.assignment-title {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.assignment-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;           /* vertical centering */
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.assignment-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assignment-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    overflow-x: auto;         /* Enable horizontal scroll */
    scroll-behavior: smooth;  /* Smooth scrolling */
    max-width: 740px;
    width: 740px; 
}

.assignment-section::-webkit-scrollbar {
    display: none;
}

.assignment-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.assignment-card {
    display: flex;
    flex-direction: column;
    font-weight: 300;

    border: 1px solid #a2aab3;  
    border-radius: 8px;
    padding: 10px;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
}

.assignment-header {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-bottom: 16px;
}

.assignment-icon {
    font-size: 30px; 
    color: #51CB63;
}

.submit-button {
    background: #191d1a !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 8px !important;
    font-size: 14px !important;    
    padding: 14px 40px !important; 
    height: 36px !important;  
    font-family: 'Noto Sans', sans-serif;

    width: 50px;
    align-self: flex-end;
    margin-left: 20px;

}

.all-button {
    background: #191d1a !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 7px !important;
    font-size: 18px !important;    
    padding: 14px 40px !important; 
    height: 42px !important;  
    font-family: 'Noto Sans', sans-serif;

    width: 70px;
    align-self: flex-end;
    margin-top: 20px;
}

.scroll-right-btn {
    background: transparent !important;
    color: #51CB63 !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    transition: background 0.2s;
    height: 50px !important;
    width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px; /* bigger icon */
    padding: 0 !important;
}

.finished-assignments {
    margin-top: 60px;
}

.articles-list {
    color: #ffffff;
    display: flex;
    flex-direction: column; /* or row if you want them side by side */
    gap: 24px;              /* adjust as needed */
    margin-top: 20px;
}

.article-card {
    background-color: #191d1a;
    display: flex;
    flex-direction: column;
    border: 1px solid #a2aab3;
    width: 350px;
    height: 25  0px;
    border-radius: 8px;
}

.article-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.article-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;      /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5.5em;          /* Adjust based on font-size and line-height */
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.view-article {
    background: #191d1a !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 7px !important;
    font-size: 18px !important;    
    padding: 14px 40px !important; 
    height: 42px !important;  
    font-family: 'Noto Sans', sans-serif;

    width: 70px;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
}


.view-article:hover {
    background: #51CB63 !important;
    color: #ffffff !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 8px !important;
}
