.allArticles {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.allArticles-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); gap: 40px; 
    justify-items: center;
    overflow-y: auto;  
    scrollbar-color: #a2aab3 #191d1a !important;
    scrollbar-width: thin !important; 

    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.allArticle-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #a2aab3;
    font-family: 'Noto Sans', sans-serif !important;
    width: 350px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.allArticle-card:hover {
    border: 1px solid #51CB63; 
}

.allArticle-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.allArticle-icon {
    font-size: 30px; 
    color: #51CB63;
}

.allArticle-title {
    font-family: 'Noto Sans', sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.allArticle-author {
    font-family: 'Noto Sans', sans-serif !important;
    color: #a2aab3;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: left;
}

.allArticle-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5.5em;          
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif !important;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 10px;
}